footer{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 96%;
    border-radius: 30px;
    background-image: linear-gradient(4deg, rgba(138, 255, 54, 0.3), rgba(255, 255, 255, 0) 62%), linear-gradient(185deg, rgba(54, 255, 224, 0.8), rgba(255, 255, 255, 0)), radial-gradient(closest-corner, rgba(63, 236, 93, 0) 100%, rgba(255, 255, 255, 0));text-align: center;

    font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
letter-spacing: -0.8px;
word-spacing: -0.6px;
color: #F8FFF6;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
  }